.uk-subnav>*>:first-child {
    position: relative;
    width: max-content;
}
.icon {
    position: relative;
    display: inline-block;
    padding-left:25px;
    height: 20px;
    text-decoration: none !important;
}
.icon::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    top:0;
    bottom:0;
    left:0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-test::before{
    background-image: url(../img/pumpkin.svg);
}
option.select-header {
    background: #f5f5f5;
    font-weight: 700;
    font-size: 16px;
}
.uk-nav-primary>li>a {
    font-size: 1.1rem;
}
@media (min-width: 1200px) {
    .uk-card-small .uk-card-body>.uk-nav-default:only-child {
        margin-top:0;
        margin-bottom: 0;
    }
    .uk-card-small .uk-card-body>.uk-nav-default {
        margin-left: -15px;
        margin-right: -15px;
    }
}
.sidebar .uk-card + .uk-card {
    margin-top: 15px;
}
.preview {
    width:100px;
    height:100px;
    background: white;
    box-sizing: border-box;
    border:1px solid #eee;
    padding:10px;
}
.preview-small {
    width:40px;
    height: 40px;
    padding:5px;
}
.preview-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    height: 80px;
}
.preview-small .preview-img {
    height:30px;
}
.uk-subnav-pill.preview-nav{
    margin-left: -20px;
}
.uk-subnav-pill.preview-nav li a {
    background: #fafafa;
}
.uk-subnav-pill.preview-nav li.uk-active a {
    background-color: #fafafa;
    color: #666;
}
.uk-subnav-pill.preview-nav>*>a:focus,
.uk-subnav-pill.preview-nav>*>a:hover,
.uk-subnav-pill.preview-nav>li.uk-active>a:focus,
.uk-subnav-pill.preview-nav>li.uk-active>a:hover {
    background-color: #e4e4e4;
    color: #666;
}
.nav-header {
    position: absolute;
    top: -22px;
    left: 11px;
    z-index: 999;
    font-style: italic;
    color: #666;
}
.shadow-fix{
    padding:20px 0;
}
.uk-child-width-2-3 > * {
    width:66.6%;
}
.uk-child-width-3-4 > * {
    width:75%;
}
ul.uk-slider-items.uk-grid-medium {
    margin-left: -30px;
}
ul.uk-slider-items.uk-grid-small{
    margin-left: -15px;
}
@media (min-width: 1200px) {
    ul.uk-slider-items.uk-grid-large{
        margin-left: -70px;
    }
}
@media (min-width: 1200px){
    .uk-child-width-1-10\@xl>* {
        width: 10%;
    }
}
.uk-height-xlarge {
    height: 550px;
}
font.tablebodytext {
    display: none !important;
}
.uk-card-default .uk-h1,
.uk-card-default .uk-h2,
.uk-card-default .uk-h3,
.uk-card-default .uk-h4,
.uk-card-default .uk-h5,
.uk-card-default .uk-h6,
.uk-card-default .uk-heading-2xlarge,
.uk-card-default .uk-heading-large,
.uk-card-default .uk-heading-medium,
.uk-card-default .uk-heading-small,
.uk-card-default .uk-heading-xlarge,
.uk-card-default h1,
.uk-card-default h2,
.uk-card-default h3,
.uk-card-default h4,
.uk-card-default h5,
.uk-card-default h6 {
    color:#333 !important;
}
.uk-card-xsmall .uk-card-body, .uk-card-xsmall.uk-card-body {
    padding: 10px 10px;
}
.uk-slidenav {
    z-index: 999;
}
.uk-accordion-content .shadow-fix {
    padding: 0;
}